.t-header {
    background-color: black;
    color: white;
}

#t-explanation {
    background-color: grey;
    color: black;
}

.t-data {
    background-color: silver;
    color: white;
}

.box-1 {
    float: left;
}

.box-2 {
    float: left;
    font-size: 17px;
    background-color: gray;
}